{% macro t(key) %}{{ {
    "language": "cy",
    "action.edit": "Golygu'r dudalen hon",
    "action.skip": "Neidio i'r cynnwys",
    "clipboard.copy": "Copïo i'r clipfwrdd",
    "clipboard.copied": "Wedi'i gopïo i'r clipfwrdd",
    "footer.next": "Nesaf",
    "footer.previous": "Blaenorol",
    "meta.comments": "Sylwadau",
    "meta.source": "Ffynhonnell",
    "search.config.lang": "cy",
    "search.placeholder": "Chwilio",
    "search.result.placeholder": "Teipiwch i ddechrau chwilio",
    "search.result.none": "Dim dogfennau'n cyfateb",
    "search.result.one": "1 dogfen yn cyfateb",
    "search.result.other": "# dogfen yn cyfateb",
    "source.link.title": "Ewch i'r repository",
    "toc.title": "Tabl cynnwys"
  }[key] }}{% endmacro %}